<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SRCDShandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCRDShandler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SRCDShandler.Properties.Settings>
            <setting name="SRCDSPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SRCDSArgs" serializeAs="String">
                <value>-game garrysmod +map gm_construct +gamemode sandbox +maxplayers 16</value>
            </setting>
            <setting name="HandlerMinimize" serializeAs="String">
                <value>True</value>
            </setting>
        </SRCDShandler.Properties.Settings>
        <SCRDShandler.Properties.Settings>
            <setting name="SCRDSPath" serializeAs="String">
                <value />
            </setting>
        </SCRDShandler.Properties.Settings>
    </userSettings>
</configuration>